.rectangulo {
    border: 2px solid black;
    background-color: lightslategray;
    border-color: yellow; 
    width: 132px;
    height: 65px;
}

button {
    border-radius: 50%;
}

.borrar {
    background-color: red;
    border-color: yellow;
}

.C {
    background-color: black;
    color: yellow;
}

.azul_oscuro {
    background-color: blue;
    border-color: cyan;
}

.celeste {
    background-color: cyan;
    border-color: blue;
}

.ContornoC {
    border-color: yellow;
}

.centro {
    padding-right: 10px;
}

